body,
html {
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", arial;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

ul {
  list-style-type: circle;
}

p {
  margin-bottom: 20px;
  font-size: 25px;
}

figure {
  margin: 15px 15px;
}

.noDecoration:hover,
.noDecoration {
  text-decoration: none;
  color: white;
}
