footer {
  color: white;
  display: grid;
  grid-template-rows: auto auto;
  // height: 200px;
  // display: grid;
}

.footer__top {
  display: grid;
  background-color: $button-color;
  // grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
  // grid-template-areas: ". address links placeholder .";
  grid-template-columns: 0.5fr auto repeat(2, 1fr) 0.5fr;
  column-gap: 15px;
  grid-template-areas: ". facebook address links .";
  justify-items: center;
  padding: 30px 0;
}

.footer__facebook {
  align-self: center;
  color: white;
  text-decoration: none;
  font-size: 30px;
  grid-area: facebook;
}

.footer__address {
  grid-area: address;
  align-self: center;
}

.footer__bottom {
  background-color: $secondary-color;
  display: grid;
  grid: 1fr / 1fr auto 1fr;
  grid-template-areas: ". copyright CMS";
  // justify-content: center;
  // align-items: center;
  padding: 20px 0;
  align-items: center;
  font-size: 0.9rem;
  text-align: center;
  line-height: normal;
}

.footer__copyrightInfo {
  grid-area: copyright;
}

.footer__CMS {
  grid-area: CMS;
  font-weight: bold;
  color: white;
  width: fit-content;
  justify-self: end;
  align-self: end;
  margin-right: 20px;
}

.footer__CMS:hover {
  color: $primary-color;
}

.footer__linksContainer {
  display: grid;
  grid-area: links;
  grid-template-rows: repeat(auto-fill, auto);

  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
  a:hover {
    color: $primary-color;
  }
}

.footer__phoneNumberCity {
  font-weight: bold;
}

.footer__phoneLink {
  text-decoration: none;
  color: inherit;
}

.footer__phoneLink:hover {
  color: $primary-color;
  font-weight: bold;
}

.footer__placeHolder {
  grid-area: placeholder;
}

@media screen and (max-width: $break-mm) {
  .footer__placeHolder {
    display: none;
  }

  .footer__top {
    grid-template-columns: 0.25fr auto repeat(2, 1fr) 0.25fr;
    grid-template-areas: ". facebook address links .";
  }

  .footer__address {
    line-height: normal;
    text-align: center;
  }

  .footer__bottom {
    grid: auto auto / 1fr;
    grid-template-areas:
      "copyright"
      "CMS";
    row-gap: 20px;
    padding: 20px 20px;
  }

  .footer__CMS {
    justify-self: end;
  }
}
