.buttonLink {
  background-color: $primary-color;
  color: white;
  padding: 13px 20px 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.buttonLink:hover {
  background-color: white;
  color: $primary-color;
  outline: 3px solid $primary-color;
}
