.blogPost {
  // uses interpolation for scss and calc
  display: grid;
  justify-items: center;
  grid: 1fr / repeat(auto-fit, auto);
  padding-top: 100px;
  padding-bottom: 50px;
  min-height: calc(100vh - #{$contact-bar-height} - #{$navbar-height});
}

.blogPost__container {
  width: 80vw;
  display: grid;
}

.blogPost__contentContainer {
  margin-top: 30px;
}

.blogPost__date {
  width: fit-content;
  justify-self: center;
}

.blogPost__title {
  text-align: center;
  margin: 0;
}

.blogPost__topContent {
  display: grid;
  margin-bottom: 30px;
}

.blogpost__button {
  height: fit-content;
}

// .blogPost__featureImageContainer {
//   // object-fit: cover;
// }

// .blogPost__featureImage {
//   width: 100%;
//   height: 250px;
//   object-fit: cover;
// }
