$sample-height: 200px;

// NEW ADJUSTMENTS

.Title {
  display: flex;
  justify-content: center;
  // height: fit-content;
  color: white;
}

.indexPage__blogCardContainer {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  row-gap: 20px;
}

.index__readMoreButton {
  width: fit-content;
}

// MEDIA QUERIES

@media screen and (max-width: $break-mm) {
  .index__readMoreButton {
    width: 100%;
    text-align: center;
  }
}
