.servicePage__mainContent {
  display: grid;
  grid: repeat(auto-fill, auto) / 1fr;
}

.servicePage__header {
  background-color: $primary-color;
  color: white;
  column-gap: 50px;
  display: grid;
  grid: 1fr / 150px 1fr 1fr 150px;
  grid-template-areas: ". largeIcon summary .";
  padding: 150px 0 75px 0;
  // height: fit-content;
}

.servicePage__iconContainer {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-area: largeIcon;
}

.servicePage__icon {
  width: 250px;
}

// ----- Summary sectiion (at top right)

.servicePage__summary {
  grid-area: summary;
  // margin: 150px 25px;
  display: grid;
  grid: 1fr auto auto auto 1fr / 1fr;
  grid-template-areas:
    "."
    "title"
    "text"
    "button"
    ".";
  justify-self: start;
}

.servicePage__summaryTitle {
  grid-area: title;
  text-align: right;
}

.servicePage__summaryButton {
  background-color: $tertiary-color;
  color: $primary-color;
  grid-area: button;
  width: 40%;
  max-width: 350px;
  min-width: 206px;
  justify-self: end;
}

.servicePage__summaryButton:hover {
  background-color: white;
  outline: 3px solid $tertiary-color;
  // outline: none;
  color: $tertiary-color;
}

.servicePage__summaryText {
  font-size: 1rem;
  line-height: normal;
  grid-area: text;
  text-align: right;
}

// Learn More Section (hidden on load)
.servicePage__learnMore {
  display: grid;
  background-color: $grey-color;
  justify-items: center;
  padding: 80px 0;
  transform-origin: top;
}

// .servicePage__learnMoreVisible {
//   display: grid;
// }

.servicePage__learnMoreTitle {
  text-align: center;
}

.servicePage__learnMoreContent {
  width: 80%;
}

.servicePage__blurbsContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.15fr 1fr 0.15fr;
  grid-template-areas: ". blurbs .";
  // grid: 1fr / 0.5fr repeat(auto-fill, 1fr) 0.5fr;
  // grid-template-areas: ". blurb1 blurb2 blurb3 .";
  margin: 80px 0;
}

.servicePage__blurbs {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  column-gap: 100px;
  grid-area: blurbs;
}

.servicePage__blurb {
  display: grid;
  justify-content: center;
  align-items: center;
}

// .servicePage__blurb1 {
//   grid-area: blurb1;
// }

// .servicePage__blurb2 {
//   grid-area: blurb2;
// }

// .servicePage__blurb3 {
//   grid-area: blurb3;
// }

.servicePage__blurbTitle {
  color: $secondary-color;
  text-align: center;
}

.servicePage__blurbContent {
  text-align: center;
}

.servicePage__contactFormContainer {
  align-items: center;
  background-color: $grey-color;
  column-gap: 50px;
  display: grid;
  grid: 1fr / 0.25fr 1fr 1fr 0.25fr;
  grid-template-areas: ". image form .";
  padding: 20px 0;
}

.servicePage__contactFormImage {
  grid-area: image;
  margin-top: -100px;
  padding-right: 25;
  max-width: 600px;
}

.servicePage__contactForm {
  grid-area: form;
  // margin: 30px 0;
  max-width: 400px;
}

.servicePage__contactFormTitle {
  margin: 0;
  // padding: 17px 12px 12px 12px;
}

// Media queries

@media screen and (max-width: $break-mm) {
  .servicePage__header {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "summary"
      "largeIcon";
    column-gap: 0;
    row-gap: 50px;
    // padding: 0 20px;
  }

  .servicePage__icon {
    width: 150px;
  }

  .servicePage__summary {
    justify-self: center;
    justify-items: center;
    width: 80%;
  }

  .servicePage__summaryButton {
    justify-self: inherit;
    width: 100%;
  }

  .servicePage__blurbsContainer {
    // grid: repeat(3, auto) / 1fr;
    grid-template-columns: 1fr;
    // grid-template-rows: auto-fill(auto-fill, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "blurbs";
    margin-bottom: 100px;
  }

  .servicePage__blurbs {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    row-gap: 25px;
  }

  .servicePage__blurb {
    width: 80%;
    justify-self: center;
  }

  .servicePage__contactFormContainer {
    grid: auto auto / 1fr;
    grid-template-areas:
      "image"
      "form";
    justify-items: center;
    row-gap: 40px;
  }

  .servicePage__contactFormImage {
    padding: 0;
    max-width: 600px;
    min-width: 250px;
    // justify-self: center;
  }

  .servicePage__contactForm {
    // justify-self: center;
    width: 90%;
    // padding: 0 10%;
  }
}
